body {
    background-color: #323234;
    color: #bebebe;
    padding: 15px;
    margin: 0;
}

.response-containers {
    display: grid;
    grid-column-gap: 50px;
}

.search-results {
    grid-column-start: 1;
}

.search-results-item__song {
    font-size: 14px;
    font-weight: bold;
}

.search-results-item__artist {
    font-size: 12px;
}
.track-features {
    grid-column-start: 2;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    padding: 40px;
    border: 1px solid white;
    border-radius: 10px;
}

.search-results-item {
    padding: 3px;
    margin: 3px 0;
}

.features-box {
    height: 75px;
    width: 135px;
    display: flex;
    flex-direction: column;
    margin: 12px;
    border: 1px solid #535357;
    border-radius: 3px;
    padding: 6px;
}

.features-box__data {
    font-size: 40px;
}

.features-box__title {
    font-size: 14px;
}

.input-bar {
    margin-bottom: 12px;
}

.wrapper-header {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 20px;
}
